$tile-width: 150px;
$grid-gap: 5px;
$light-gray: #fbfbfb;

// Colors for tiles of months
$january: cadetblue;
$february: lightblue;
$march: lime;
$april: magenta;
$may: blue;
$june: purple;
$july: burlywood;
$august: pink;
$september: wheat;
$october: green;
$november: cyan;
$december: coral;

@mixin loop-colors($color) {
  .month--name,
  .month--header {
    color: $color;
  }
  @for $i from 0 through 5 {
    $weekI: $i * 7;
    $start: $weekI + 1;
    $end: $weekI + 7;
    $background: darken($color, $i * 5);

    .week--tile:nth-child(n + #{$start}):nth-child(-n + #{$end}) {
      background: $background;
      &:hover {
        background: $color;
      }
      &.none,
      &.none:hover {
        background: transparent;
      }
    }
  }
}
.january {
  @include loop-colors($january);
}
.february {
  @include loop-colors($february);
}
.march {
  @include loop-colors($march);
}
.april {
  @include loop-colors($april);
}
.may {
  @include loop-colors($may);
}
.june {
  @include loop-colors($june);
}
.july {
  @include loop-colors($july);
}
.august {
  @include loop-colors($august);
}
.september {
  @include loop-colors($september);
}
.october {
  @include loop-colors($october);
}
.november {
  @include loop-colors($november);
}
.december {
  @include loop-colors($december);
}
body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.calendar {
  display: grid;
  grid-template-columns: 300px minmax(($tile-width + $grid-gap) * 7, 1fr);
  grid-template-rows: 100vh;
}

.calendar--date-input {
  padding: 0 10px;
  background: lightgray;
}

.calendar--date-input-field {
  display: flex;
  margin-bottom: 10px;
  label {
    width: 80px;
  }
  input {
    flex: 1;
  }
  input[type="date"] {
    border: none;
  }

  input[type="button"] {
    background: lightgreen;
    border: none;
    border-radius: 0;
    padding: 5px 0;
  }
}

.calendar--view {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, $tile-width);
  grid-template-rows: 60px 20px 1fr;
  grid-gap: $grid-gap;
}

.month--name {
  grid-column: 5 / 8;
  grid-row: 1;
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

.month--header {
  grid-column: 1 / 8;
  grid-row: 2;
  display: flex;
  justify-content: space-around;

  .month--header-day {
    font-weight: bold;
    width: 100%;
    text-align: center;
  }
}

.month--grid {
  grid-column: 1 / 8;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(7, $tile-width);
  grid-gap: $grid-gap;
}

.week--tile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: $tile-width;
  border-radius: 3px;
  transition: 0.15s linear all;
  font-weight: 600;
  color: white;
  font-size: 75px;

  &:hover {
    border-radius: 0;
  }
}
