ul {
  margin: 0;
  padding: 0;
}

$light-gray: #fbfbfb;
@mixin loop-colors($color) {
  .month--name,
  .month--header {
    color: $color;
  }
  @for $i from 0 through 5 {
    .week--tile:nth-child(n + #{($i * 7) + 1}):nth-child(-n + #{($i * 7) + 7}) {
      $background: darken($color, $i * 5);
      background: $background;
      &:hover {
        background: $color;
      }
      &.none,
      &.none:hover {
        background: transparent;
      }
    }
  }
}

// Colors for tiles of months
$january: cadetblue;
$february: lightblue;
$march: lime;
$april: magenta;
$may: blue;
$june: purple;
$july: burlywood;
$august: pink;
$september: wheat;
$october: green;
$november: cyan;
$december: coral;

.january {
  @include loop-colors($january);
}
.february {
  @include loop-colors($february);
}
.march {
  @include loop-colors($march);
}
.april {
  @include loop-colors($april);
}
.may {
  @include loop-colors($may);
}
.june {
  @include loop-colors($june);
}
.july {
  @include loop-colors($july);
}
.august {
  @include loop-colors($august);
}
.september {
  @include loop-colors($september);
}
.october {
  @include loop-colors($october);
}
.november {
  @include loop-colors($november);
}
.december {
  @include loop-colors($december);
}

$tile-width: 140px;
body {
  width: 1200px;
  margin: 10px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.calendar .month {
  position: relative;
  width: 1020px;
  margin: 15px auto 0;
  .month--name {
    font-size: 50px;
    font-weight: bold;
    text-align: right;
  }
  .month--header {
    margin-bottom: 5px;
    .month--header-day {
      display: inline-block;
      font-weight: bold;
      width: $tile-width;
      margin-right: 5px;
      padding: 0 2px;
      text-align: center;
      box-sizing: border-box;
    }
  }
  .month--grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 5px;
  }
  .week--tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $tile-width;
    height: $tile-width;
    border-radius: 3px;
    box-sizing: border-box;
    list-style: none;
    vertical-align: middle;
    transition: 0.15s linear all;
    font-weight: 600;
    color: white;
    font-size: 75px;

    &:hover {
      border-radius: 0;
    }

    .week--tile-year {
      position: absolute;
      bottom: 2px;
      right: 4px;
    }
  }
}
