$tile-width: 140px;
$light-gray: #fbfbfb;

// Colors for tiles of months
$january: cadetblue;
$february: lightblue;
$march: lime;
$april: magenta;
$may: blue;
$june: purple;
$july: burlywood;
$august: pink;
$september: wheat;
$october: green;
$november: cyan;
$december: coral;

@mixin loop-colors($color) {
  .month--name,
  .month--header {
    color: $color;
  }
  @for $i from 0 through 5 {
    $weekI: $i * 7;
    $start: $weekI + 1;
    $end: $weekI + 7;
    $background: darken($color, $i * 5);

    .week--tile:nth-child(n + #{$start}):nth-child(-n + #{$end}) {
      background: $background;
      &:hover {
        background: $color;
      }
      &.none,
      &.none:hover {
        background: transparent;
      }
    }
  }
}
.january {
  @include loop-colors($january);
}
.february {
  @include loop-colors($february);
}
.march {
  @include loop-colors($march);
}
.april {
  @include loop-colors($april);
}
.may {
  @include loop-colors($may);
}
.june {
  @include loop-colors($june);
}
.july {
  @include loop-colors($july);
}
.august {
  @include loop-colors($august);
}
.september {
  @include loop-colors($september);
}
.october {
  @include loop-colors($october);
}
.november {
  @include loop-colors($november);
}
.december {
  @include loop-colors($december);
}
body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.enter-dates {
  width: 1000px;
}

.month--name {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

.month--header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;

  .month--header-day {
    font-weight: bold;
    width: $tile-width;
    text-align: center;
  }
}

.month--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.week--tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $tile-width;
  height: $tile-width;
  border-radius: 3px;
  transition: 0.15s linear all;
  font-weight: 600;
  color: white;
  font-size: 75px;

  &:hover {
    border-radius: 0;
  }
}
