body {
  width: 1200px;
  margin: 10px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

ul {
  margin: 0;
  padding: 0; }

.calendar {
  padding: 5px; }

.january .week-0 .date {
  background: cadetblue; }
  .january .week-0 .date.none {
    background: transparent; }
.january .week-1 .date {
  background: #568e90; }
  .january .week-1 .date.none {
    background: transparent; }
.january .week-2 .date {
  background: #4c7e80; }
  .january .week-2 .date.none {
    background: transparent; }
.january .week-3 .date {
  background: #436f70; }
  .january .week-3 .date.none {
    background: transparent; }
.january .week-4 .date {
  background: #395f60; }
  .january .week-4 .date.none {
    background: transparent; }
.january .week-5 .date {
  background: #304f50; }
  .january .week-5 .date.none {
    background: transparent; }

.february .week-0 .date {
  background: lightblue; }
  .february .week-0 .date.none {
    background: transparent; }
.february .week-1 .date {
  background: #99cfe0; }
  .february .week-1 .date.none {
    background: transparent; }
.february .week-2 .date {
  background: #86c5da; }
  .february .week-2 .date.none {
    background: transparent; }
.february .week-3 .date {
  background: #72bcd4; }
  .february .week-3 .date.none {
    background: transparent; }
.february .week-4 .date {
  background: #5fb3ce; }
  .february .week-4 .date.none {
    background: transparent; }
.february .week-5 .date {
  background: #4baac8; }
  .february .week-5 .date.none {
    background: transparent; }

.march .week-0 .date {
  background: lime; }
  .march .week-0 .date.none {
    background: transparent; }
.march .week-1 .date {
  background: #00e600; }
  .march .week-1 .date.none {
    background: transparent; }
.march .week-2 .date {
  background: #00cc00; }
  .march .week-2 .date.none {
    background: transparent; }
.march .week-3 .date {
  background: #00b300; }
  .march .week-3 .date.none {
    background: transparent; }
.march .week-4 .date {
  background: #009900; }
  .march .week-4 .date.none {
    background: transparent; }
.march .week-5 .date {
  background: green; }
  .march .week-5 .date.none {
    background: transparent; }

.april .week-0 .date {
  background: magenta; }
  .april .week-0 .date.none {
    background: transparent; }
.april .week-1 .date {
  background: #e600e6; }
  .april .week-1 .date.none {
    background: transparent; }
.april .week-2 .date {
  background: #cc00cc; }
  .april .week-2 .date.none {
    background: transparent; }
.april .week-3 .date {
  background: #b300b3; }
  .april .week-3 .date.none {
    background: transparent; }
.april .week-4 .date {
  background: #990099; }
  .april .week-4 .date.none {
    background: transparent; }
.april .week-5 .date {
  background: purple; }
  .april .week-5 .date.none {
    background: transparent; }

.may .week-0 .date {
  background: blue; }
  .may .week-0 .date.none {
    background: transparent; }
.may .week-1 .date {
  background: #0000e6; }
  .may .week-1 .date.none {
    background: transparent; }
.may .week-2 .date {
  background: #0000cc; }
  .may .week-2 .date.none {
    background: transparent; }
.may .week-3 .date {
  background: #0000b3; }
  .may .week-3 .date.none {
    background: transparent; }
.may .week-4 .date {
  background: #000099; }
  .may .week-4 .date.none {
    background: transparent; }
.may .week-5 .date {
  background: navy; }
  .may .week-5 .date.none {
    background: transparent; }

.june .week-0 .date {
  background: purple; }
  .june .week-0 .date.none {
    background: transparent; }
.june .week-1 .date {
  background: #670067; }
  .june .week-1 .date.none {
    background: transparent; }
.june .week-2 .date {
  background: #4d004d; }
  .june .week-2 .date.none {
    background: transparent; }
.june .week-3 .date {
  background: #340034; }
  .june .week-3 .date.none {
    background: transparent; }
.june .week-4 .date {
  background: #1a001a; }
  .june .week-4 .date.none {
    background: transparent; }
.june .week-5 .date {
  background: #010001; }
  .june .week-5 .date.none {
    background: transparent; }

.july .week-0 .date {
  background: blanchedalmond; }
  .july .week-0 .date.none {
    background: transparent; }
.july .week-1 .date {
  background: #ffe1b4; }
  .july .week-1 .date.none {
    background: transparent; }
.july .week-2 .date {
  background: #ffd79a; }
  .july .week-2 .date.none {
    background: transparent; }
.july .week-3 .date {
  background: #ffcc81; }
  .july .week-3 .date.none {
    background: transparent; }
.july .week-4 .date {
  background: #ffc267; }
  .july .week-4 .date.none {
    background: transparent; }
.july .week-5 .date {
  background: #ffb84e; }
  .july .week-5 .date.none {
    background: transparent; }

.august .week-0 .date {
  background: pink; }
  .august .week-0 .date.none {
    background: transparent; }
.august .week-1 .date {
  background: #ffa7b6; }
  .august .week-1 .date.none {
    background: transparent; }
.august .week-2 .date {
  background: #ff8da1; }
  .august .week-2 .date.none {
    background: transparent; }
.august .week-3 .date {
  background: #ff748c; }
  .august .week-3 .date.none {
    background: transparent; }
.august .week-4 .date {
  background: #ff5a77; }
  .august .week-4 .date.none {
    background: transparent; }
.august .week-5 .date {
  background: #ff4162; }
  .august .week-5 .date.none {
    background: transparent; }

.september .week-0 .date {
  background: wheat; }
  .september .week-0 .date.none {
    background: transparent; }
.september .week-1 .date {
  background: #f2d49c; }
  .september .week-1 .date.none {
    background: transparent; }
.september .week-2 .date {
  background: #efca86; }
  .september .week-2 .date.none {
    background: transparent; }
.september .week-3 .date {
  background: #ecc16f; }
  .september .week-3 .date.none {
    background: transparent; }
.september .week-4 .date {
  background: #e9b759; }
  .september .week-4 .date.none {
    background: transparent; }
.september .week-5 .date {
  background: #e6ad42; }
  .september .week-5 .date.none {
    background: transparent; }

.october .week-0 .date {
  background: green; }
  .october .week-0 .date.none {
    background: transparent; }
.october .week-1 .date {
  background: #006700; }
  .october .week-1 .date.none {
    background: transparent; }
.october .week-2 .date {
  background: #004d00; }
  .october .week-2 .date.none {
    background: transparent; }
.october .week-3 .date {
  background: #003400; }
  .october .week-3 .date.none {
    background: transparent; }
.october .week-4 .date {
  background: #001a00; }
  .october .week-4 .date.none {
    background: transparent; }
.october .week-5 .date {
  background: #000100; }
  .october .week-5 .date.none {
    background: transparent; }

.november .week-0 .date {
  background: cyan; }
  .november .week-0 .date.none {
    background: transparent; }
.november .week-1 .date {
  background: #00e6e6; }
  .november .week-1 .date.none {
    background: transparent; }
.november .week-2 .date {
  background: #00cccc; }
  .november .week-2 .date.none {
    background: transparent; }
.november .week-3 .date {
  background: #00b3b3; }
  .november .week-3 .date.none {
    background: transparent; }
.november .week-4 .date {
  background: #009999; }
  .november .week-4 .date.none {
    background: transparent; }
.november .week-5 .date {
  background: teal; }
  .november .week-5 .date.none {
    background: transparent; }

.december .week-0 .date {
  background: coral; }
  .december .week-0 .date.none {
    background: transparent; }
.december .week-1 .date {
  background: #ff6c37; }
  .december .week-1 .date.none {
    background: transparent; }
.december .week-2 .date {
  background: #ff5a1d; }
  .december .week-2 .date.none {
    background: transparent; }
.december .week-3 .date {
  background: #ff4704; }
  .december .week-3 .date.none {
    background: transparent; }
.december .week-4 .date {
  background: #e93f00; }
  .december .week-4 .date.none {
    background: transparent; }
.december .week-5 .date {
  background: #d03800; }
  .december .week-5 .date.none {
    background: transparent; }

.date {
  position: relative;
  list-style: none;
  display: inline-block;
  font-size: 14px;
  width: 130px;
  height: 130px;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
  vertical-align: middle; }
  .date .day {
    font-weight: 600;
    color: #dfdfdf;
    position: absolute;
    font-size: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transform: translateY(-50%);
    top: 50%;
    left: 0;
    right: 0; }
  .date .year {
    position: absolute;
    bottom: 2px;
    right: 4px; }

/*# sourceMappingURL=application.css.map */
