ul {
  margin: 0;
  padding: 0; }

.january .week-0 .date-tile {
  background: cadetblue; }
  .january .week-0 .date-tile:hover {
    background: cadetblue; }
  .january .week-0 .date-tile.none, .january .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.january .week-1 .date-tile {
  background: #568e90; }
  .january .week-1 .date-tile:hover {
    background: cadetblue; }
  .january .week-1 .date-tile.none, .january .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.january .week-2 .date-tile {
  background: #4c7e80; }
  .january .week-2 .date-tile:hover {
    background: cadetblue; }
  .january .week-2 .date-tile.none, .january .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.january .week-3 .date-tile {
  background: #436f70; }
  .january .week-3 .date-tile:hover {
    background: cadetblue; }
  .january .week-3 .date-tile.none, .january .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.january .week-4 .date-tile {
  background: #395f60; }
  .january .week-4 .date-tile:hover {
    background: cadetblue; }
  .january .week-4 .date-tile.none, .january .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.january .week-5 .date-tile {
  background: #304f50; }
  .january .week-5 .date-tile:hover {
    background: cadetblue; }
  .january .week-5 .date-tile.none, .january .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.february .week-0 .date-tile {
  background: lightblue; }
  .february .week-0 .date-tile:hover {
    background: lightblue; }
  .february .week-0 .date-tile.none, .february .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.february .week-1 .date-tile {
  background: #99cfe0; }
  .february .week-1 .date-tile:hover {
    background: lightblue; }
  .february .week-1 .date-tile.none, .february .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.february .week-2 .date-tile {
  background: #86c5da; }
  .february .week-2 .date-tile:hover {
    background: lightblue; }
  .february .week-2 .date-tile.none, .february .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.february .week-3 .date-tile {
  background: #72bcd4; }
  .february .week-3 .date-tile:hover {
    background: lightblue; }
  .february .week-3 .date-tile.none, .february .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.february .week-4 .date-tile {
  background: #5fb3ce; }
  .february .week-4 .date-tile:hover {
    background: lightblue; }
  .february .week-4 .date-tile.none, .february .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.february .week-5 .date-tile {
  background: #4baac8; }
  .february .week-5 .date-tile:hover {
    background: lightblue; }
  .february .week-5 .date-tile.none, .february .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.march .week-0 .date-tile {
  background: lime; }
  .march .week-0 .date-tile:hover {
    background: lime; }
  .march .week-0 .date-tile.none, .march .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.march .week-1 .date-tile {
  background: #00e600; }
  .march .week-1 .date-tile:hover {
    background: lime; }
  .march .week-1 .date-tile.none, .march .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.march .week-2 .date-tile {
  background: #00cc00; }
  .march .week-2 .date-tile:hover {
    background: lime; }
  .march .week-2 .date-tile.none, .march .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.march .week-3 .date-tile {
  background: #00b300; }
  .march .week-3 .date-tile:hover {
    background: lime; }
  .march .week-3 .date-tile.none, .march .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.march .week-4 .date-tile {
  background: #009900; }
  .march .week-4 .date-tile:hover {
    background: lime; }
  .march .week-4 .date-tile.none, .march .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.march .week-5 .date-tile {
  background: green; }
  .march .week-5 .date-tile:hover {
    background: lime; }
  .march .week-5 .date-tile.none, .march .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.april .week-0 .date-tile {
  background: magenta; }
  .april .week-0 .date-tile:hover {
    background: magenta; }
  .april .week-0 .date-tile.none, .april .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.april .week-1 .date-tile {
  background: #e600e6; }
  .april .week-1 .date-tile:hover {
    background: magenta; }
  .april .week-1 .date-tile.none, .april .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.april .week-2 .date-tile {
  background: #cc00cc; }
  .april .week-2 .date-tile:hover {
    background: magenta; }
  .april .week-2 .date-tile.none, .april .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.april .week-3 .date-tile {
  background: #b300b3; }
  .april .week-3 .date-tile:hover {
    background: magenta; }
  .april .week-3 .date-tile.none, .april .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.april .week-4 .date-tile {
  background: #990099; }
  .april .week-4 .date-tile:hover {
    background: magenta; }
  .april .week-4 .date-tile.none, .april .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.april .week-5 .date-tile {
  background: purple; }
  .april .week-5 .date-tile:hover {
    background: magenta; }
  .april .week-5 .date-tile.none, .april .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.may .week-0 .date-tile {
  background: blue; }
  .may .week-0 .date-tile:hover {
    background: blue; }
  .may .week-0 .date-tile.none, .may .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.may .week-1 .date-tile {
  background: #0000e6; }
  .may .week-1 .date-tile:hover {
    background: blue; }
  .may .week-1 .date-tile.none, .may .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.may .week-2 .date-tile {
  background: #0000cc; }
  .may .week-2 .date-tile:hover {
    background: blue; }
  .may .week-2 .date-tile.none, .may .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.may .week-3 .date-tile {
  background: #0000b3; }
  .may .week-3 .date-tile:hover {
    background: blue; }
  .may .week-3 .date-tile.none, .may .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.may .week-4 .date-tile {
  background: #000099; }
  .may .week-4 .date-tile:hover {
    background: blue; }
  .may .week-4 .date-tile.none, .may .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.may .week-5 .date-tile {
  background: navy; }
  .may .week-5 .date-tile:hover {
    background: blue; }
  .may .week-5 .date-tile.none, .may .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.june .week-0 .date-tile {
  background: purple; }
  .june .week-0 .date-tile:hover {
    background: purple; }
  .june .week-0 .date-tile.none, .june .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.june .week-1 .date-tile {
  background: #670067; }
  .june .week-1 .date-tile:hover {
    background: purple; }
  .june .week-1 .date-tile.none, .june .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.june .week-2 .date-tile {
  background: #4d004d; }
  .june .week-2 .date-tile:hover {
    background: purple; }
  .june .week-2 .date-tile.none, .june .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.june .week-3 .date-tile {
  background: #340034; }
  .june .week-3 .date-tile:hover {
    background: purple; }
  .june .week-3 .date-tile.none, .june .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.june .week-4 .date-tile {
  background: #1a001a; }
  .june .week-4 .date-tile:hover {
    background: purple; }
  .june .week-4 .date-tile.none, .june .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.june .week-5 .date-tile {
  background: #010001; }
  .june .week-5 .date-tile:hover {
    background: purple; }
  .june .week-5 .date-tile.none, .june .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.july .week-0 .date-tile {
  background: blanchedalmond; }
  .july .week-0 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-0 .date-tile.none, .july .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.july .week-1 .date-tile {
  background: #ffe1b4; }
  .july .week-1 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-1 .date-tile.none, .july .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.july .week-2 .date-tile {
  background: #ffd79a; }
  .july .week-2 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-2 .date-tile.none, .july .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.july .week-3 .date-tile {
  background: #ffcc81; }
  .july .week-3 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-3 .date-tile.none, .july .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.july .week-4 .date-tile {
  background: #ffc267; }
  .july .week-4 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-4 .date-tile.none, .july .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.july .week-5 .date-tile {
  background: #ffb84e; }
  .july .week-5 .date-tile:hover {
    background: blanchedalmond; }
  .july .week-5 .date-tile.none, .july .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.august .week-0 .date-tile {
  background: pink; }
  .august .week-0 .date-tile:hover {
    background: pink; }
  .august .week-0 .date-tile.none, .august .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.august .week-1 .date-tile {
  background: #ffa7b6; }
  .august .week-1 .date-tile:hover {
    background: pink; }
  .august .week-1 .date-tile.none, .august .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.august .week-2 .date-tile {
  background: #ff8da1; }
  .august .week-2 .date-tile:hover {
    background: pink; }
  .august .week-2 .date-tile.none, .august .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.august .week-3 .date-tile {
  background: #ff748c; }
  .august .week-3 .date-tile:hover {
    background: pink; }
  .august .week-3 .date-tile.none, .august .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.august .week-4 .date-tile {
  background: #ff5a77; }
  .august .week-4 .date-tile:hover {
    background: pink; }
  .august .week-4 .date-tile.none, .august .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.august .week-5 .date-tile {
  background: #ff4162; }
  .august .week-5 .date-tile:hover {
    background: pink; }
  .august .week-5 .date-tile.none, .august .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.september .week-0 .date-tile {
  background: wheat; }
  .september .week-0 .date-tile:hover {
    background: wheat; }
  .september .week-0 .date-tile.none, .september .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.september .week-1 .date-tile {
  background: #f2d49c; }
  .september .week-1 .date-tile:hover {
    background: wheat; }
  .september .week-1 .date-tile.none, .september .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.september .week-2 .date-tile {
  background: #efca86; }
  .september .week-2 .date-tile:hover {
    background: wheat; }
  .september .week-2 .date-tile.none, .september .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.september .week-3 .date-tile {
  background: #ecc16f; }
  .september .week-3 .date-tile:hover {
    background: wheat; }
  .september .week-3 .date-tile.none, .september .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.september .week-4 .date-tile {
  background: #e9b759; }
  .september .week-4 .date-tile:hover {
    background: wheat; }
  .september .week-4 .date-tile.none, .september .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.september .week-5 .date-tile {
  background: #e6ad42; }
  .september .week-5 .date-tile:hover {
    background: wheat; }
  .september .week-5 .date-tile.none, .september .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.october .week-0 .date-tile {
  background: green; }
  .october .week-0 .date-tile:hover {
    background: green; }
  .october .week-0 .date-tile.none, .october .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.october .week-1 .date-tile {
  background: #006700; }
  .october .week-1 .date-tile:hover {
    background: green; }
  .october .week-1 .date-tile.none, .october .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.october .week-2 .date-tile {
  background: #004d00; }
  .october .week-2 .date-tile:hover {
    background: green; }
  .october .week-2 .date-tile.none, .october .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.october .week-3 .date-tile {
  background: #003400; }
  .october .week-3 .date-tile:hover {
    background: green; }
  .october .week-3 .date-tile.none, .october .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.october .week-4 .date-tile {
  background: #001a00; }
  .october .week-4 .date-tile:hover {
    background: green; }
  .october .week-4 .date-tile.none, .october .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.october .week-5 .date-tile {
  background: #000100; }
  .october .week-5 .date-tile:hover {
    background: green; }
  .october .week-5 .date-tile.none, .october .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.november .week-0 .date-tile {
  background: cyan; }
  .november .week-0 .date-tile:hover {
    background: cyan; }
  .november .week-0 .date-tile.none, .november .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.november .week-1 .date-tile {
  background: #00e6e6; }
  .november .week-1 .date-tile:hover {
    background: cyan; }
  .november .week-1 .date-tile.none, .november .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.november .week-2 .date-tile {
  background: #00cccc; }
  .november .week-2 .date-tile:hover {
    background: cyan; }
  .november .week-2 .date-tile.none, .november .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.november .week-3 .date-tile {
  background: #00b3b3; }
  .november .week-3 .date-tile:hover {
    background: cyan; }
  .november .week-3 .date-tile.none, .november .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.november .week-4 .date-tile {
  background: #009999; }
  .november .week-4 .date-tile:hover {
    background: cyan; }
  .november .week-4 .date-tile.none, .november .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.november .week-5 .date-tile {
  background: teal; }
  .november .week-5 .date-tile:hover {
    background: cyan; }
  .november .week-5 .date-tile.none, .november .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

.december .week-0 .date-tile {
  background: coral; }
  .december .week-0 .date-tile:hover {
    background: coral; }
  .december .week-0 .date-tile.none, .december .week-0 .date-tile.none:hover {
    background: #fbfbfb; }
.december .week-1 .date-tile {
  background: #ff6c37; }
  .december .week-1 .date-tile:hover {
    background: coral; }
  .december .week-1 .date-tile.none, .december .week-1 .date-tile.none:hover {
    background: #fbfbfb; }
.december .week-2 .date-tile {
  background: #ff5a1d; }
  .december .week-2 .date-tile:hover {
    background: coral; }
  .december .week-2 .date-tile.none, .december .week-2 .date-tile.none:hover {
    background: #fbfbfb; }
.december .week-3 .date-tile {
  background: #ff4704; }
  .december .week-3 .date-tile:hover {
    background: coral; }
  .december .week-3 .date-tile.none, .december .week-3 .date-tile.none:hover {
    background: #fbfbfb; }
.december .week-4 .date-tile {
  background: #e93f00; }
  .december .week-4 .date-tile:hover {
    background: coral; }
  .december .week-4 .date-tile.none, .december .week-4 .date-tile.none:hover {
    background: #fbfbfb; }
.december .week-5 .date-tile {
  background: #d03800; }
  .december .week-5 .date-tile:hover {
    background: coral; }
  .december .week-5 .date-tile.none, .december .week-5 .date-tile.none:hover {
    background: #fbfbfb; }

body {
  width: 1200px;
  margin: 10px auto;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

.calendar .month {
  width: 1020px;
  margin: 0 auto; }
  .calendar .month .day-header {
    margin: 15px 0 5px; }
    .calendar .month .day-header div {
      display: inline-block;
      width: 140px;
      margin-right: 5px;
      padding: 0 2px;
      text-align: center;
      box-sizing: border-box; }
  .calendar .month .week {
    width: 1200px;
    margin: 0 auto; }
    .calendar .month .week .date-tile {
      position: relative;
      display: inline-block;
      margin: 0 5px 5px 0;
      padding: 2px 5px;
      width: 140px;
      height: 140px;
      font-size: 14px;
      border-radius: 3px;
      box-sizing: border-box;
      list-style: none;
      vertical-align: middle;
      transition: 0.15s linear all; }
      .calendar .month .week .date-tile:hover {
        border-radius: 0; }
      .calendar .month .week .date-tile .day {
        font-weight: 600;
        color: white;
        position: absolute;
        font-size: 75px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transform: translateY(-50%);
        top: 50%;
        left: 0;
        right: 0; }
      .calendar .month .week .date-tile .year {
        position: absolute;
        bottom: 2px;
        right: 4px; }

/*# sourceMappingURL=application.css.map */
