.january .month--name,
.january .month--header {
  color: cadetblue;
}
.january .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: cadetblue;
}
.january .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+1):nth-child(-n+7).none, .january .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.january .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #568e90;
}
.january .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+8):nth-child(-n+14).none, .january .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.january .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #4c7e80;
}
.january .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+15):nth-child(-n+21).none, .january .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.january .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #436f70;
}
.january .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+22):nth-child(-n+28).none, .january .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.january .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #395f60;
}
.january .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+29):nth-child(-n+35).none, .january .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.january .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #304f50;
}
.january .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: cadetblue;
}
.january .week--tile:nth-child(n+36):nth-child(-n+42).none, .january .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.february .month--name,
.february .month--header {
  color: lightblue;
}
.february .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: lightblue;
}
.february .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+1):nth-child(-n+7).none, .february .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.february .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #99cfe0;
}
.february .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+8):nth-child(-n+14).none, .february .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.february .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #86c5da;
}
.february .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+15):nth-child(-n+21).none, .february .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.february .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #72bcd4;
}
.february .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+22):nth-child(-n+28).none, .february .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.february .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #5fb3ce;
}
.february .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+29):nth-child(-n+35).none, .february .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.february .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #4baac8;
}
.february .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: lightblue;
}
.february .week--tile:nth-child(n+36):nth-child(-n+42).none, .february .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.march .month--name,
.march .month--header {
  color: lime;
}
.march .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: lime;
}
.march .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: lime;
}
.march .week--tile:nth-child(n+1):nth-child(-n+7).none, .march .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.march .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #00e600;
}
.march .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: lime;
}
.march .week--tile:nth-child(n+8):nth-child(-n+14).none, .march .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.march .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #00cc00;
}
.march .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: lime;
}
.march .week--tile:nth-child(n+15):nth-child(-n+21).none, .march .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.march .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #00b300;
}
.march .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: lime;
}
.march .week--tile:nth-child(n+22):nth-child(-n+28).none, .march .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.march .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #009900;
}
.march .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: lime;
}
.march .week--tile:nth-child(n+29):nth-child(-n+35).none, .march .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.march .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: green;
}
.march .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: lime;
}
.march .week--tile:nth-child(n+36):nth-child(-n+42).none, .march .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.april .month--name,
.april .month--header {
  color: magenta;
}
.april .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: fuchsia;
}
.april .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+1):nth-child(-n+7).none, .april .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.april .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #e600e6;
}
.april .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+8):nth-child(-n+14).none, .april .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.april .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #cc00cc;
}
.april .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+15):nth-child(-n+21).none, .april .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.april .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #b300b3;
}
.april .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+22):nth-child(-n+28).none, .april .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.april .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #990099;
}
.april .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+29):nth-child(-n+35).none, .april .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.april .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: purple;
}
.april .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: magenta;
}
.april .week--tile:nth-child(n+36):nth-child(-n+42).none, .april .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.may .month--name,
.may .month--header {
  color: blue;
}
.may .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: blue;
}
.may .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: blue;
}
.may .week--tile:nth-child(n+1):nth-child(-n+7).none, .may .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.may .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #0000e6;
}
.may .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: blue;
}
.may .week--tile:nth-child(n+8):nth-child(-n+14).none, .may .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.may .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #0000cc;
}
.may .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: blue;
}
.may .week--tile:nth-child(n+15):nth-child(-n+21).none, .may .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.may .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #0000b3;
}
.may .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: blue;
}
.may .week--tile:nth-child(n+22):nth-child(-n+28).none, .may .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.may .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #000099;
}
.may .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: blue;
}
.may .week--tile:nth-child(n+29):nth-child(-n+35).none, .may .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.may .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: navy;
}
.may .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: blue;
}
.may .week--tile:nth-child(n+36):nth-child(-n+42).none, .may .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.june .month--name,
.june .month--header {
  color: purple;
}
.june .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: purple;
}
.june .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: purple;
}
.june .week--tile:nth-child(n+1):nth-child(-n+7).none, .june .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.june .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #670067;
}
.june .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: purple;
}
.june .week--tile:nth-child(n+8):nth-child(-n+14).none, .june .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.june .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #4d004d;
}
.june .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: purple;
}
.june .week--tile:nth-child(n+15):nth-child(-n+21).none, .june .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.june .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #340034;
}
.june .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: purple;
}
.june .week--tile:nth-child(n+22):nth-child(-n+28).none, .june .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.june .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #1a001a;
}
.june .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: purple;
}
.june .week--tile:nth-child(n+29):nth-child(-n+35).none, .june .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.june .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #010001;
}
.june .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: purple;
}
.june .week--tile:nth-child(n+36):nth-child(-n+42).none, .june .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.july .month--name,
.july .month--header {
  color: burlywood;
}
.july .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: burlywood;
}
.july .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+1):nth-child(-n+7).none, .july .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.july .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #d9ac73;
}
.july .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+8):nth-child(-n+14).none, .july .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.july .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #d3a05f;
}
.july .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+15):nth-child(-n+21).none, .july .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.july .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #ce954b;
}
.july .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+22):nth-child(-n+28).none, .july .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.july .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #c88937;
}
.july .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+29):nth-child(-n+35).none, .july .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.july .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #b47b32;
}
.july .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: burlywood;
}
.july .week--tile:nth-child(n+36):nth-child(-n+42).none, .july .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.august .month--name,
.august .month--header {
  color: pink;
}
.august .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: pink;
}
.august .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: pink;
}
.august .week--tile:nth-child(n+1):nth-child(-n+7).none, .august .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.august .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #ffa7b6;
}
.august .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: pink;
}
.august .week--tile:nth-child(n+8):nth-child(-n+14).none, .august .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.august .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #ff8da1;
}
.august .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: pink;
}
.august .week--tile:nth-child(n+15):nth-child(-n+21).none, .august .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.august .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #ff748c;
}
.august .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: pink;
}
.august .week--tile:nth-child(n+22):nth-child(-n+28).none, .august .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.august .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #ff5a77;
}
.august .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: pink;
}
.august .week--tile:nth-child(n+29):nth-child(-n+35).none, .august .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.august .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #ff4162;
}
.august .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: pink;
}
.august .week--tile:nth-child(n+36):nth-child(-n+42).none, .august .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.september .month--name,
.september .month--header {
  color: wheat;
}
.september .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: wheat;
}
.september .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+1):nth-child(-n+7).none, .september .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.september .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #f2d49c;
}
.september .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+8):nth-child(-n+14).none, .september .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.september .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #efca86;
}
.september .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+15):nth-child(-n+21).none, .september .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.september .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #ecc16f;
}
.september .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+22):nth-child(-n+28).none, .september .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.september .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #e9b759;
}
.september .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+29):nth-child(-n+35).none, .september .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.september .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #e6ad42;
}
.september .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: wheat;
}
.september .week--tile:nth-child(n+36):nth-child(-n+42).none, .september .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.october .month--name,
.october .month--header {
  color: green;
}
.october .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: green;
}
.october .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: green;
}
.october .week--tile:nth-child(n+1):nth-child(-n+7).none, .october .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.october .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #006700;
}
.october .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: green;
}
.october .week--tile:nth-child(n+8):nth-child(-n+14).none, .october .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.october .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #004d00;
}
.october .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: green;
}
.october .week--tile:nth-child(n+15):nth-child(-n+21).none, .october .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.october .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #003400;
}
.october .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: green;
}
.october .week--tile:nth-child(n+22):nth-child(-n+28).none, .october .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.october .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #001a00;
}
.october .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: green;
}
.october .week--tile:nth-child(n+29):nth-child(-n+35).none, .october .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.october .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #000100;
}
.october .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: green;
}
.october .week--tile:nth-child(n+36):nth-child(-n+42).none, .october .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.november .month--name,
.november .month--header {
  color: cyan;
}
.november .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: aqua;
}
.november .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+1):nth-child(-n+7).none, .november .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.november .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #00e6e6;
}
.november .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+8):nth-child(-n+14).none, .november .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.november .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #00cccc;
}
.november .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+15):nth-child(-n+21).none, .november .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.november .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #00b3b3;
}
.november .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+22):nth-child(-n+28).none, .november .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.november .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #009999;
}
.november .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+29):nth-child(-n+35).none, .november .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.november .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: teal;
}
.november .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: cyan;
}
.november .week--tile:nth-child(n+36):nth-child(-n+42).none, .november .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

.december .month--name,
.december .month--header {
  color: coral;
}
.december .week--tile:nth-child(n+1):nth-child(-n+7) {
  background: coral;
}
.december .week--tile:nth-child(n+1):nth-child(-n+7):hover {
  background: coral;
}
.december .week--tile:nth-child(n+1):nth-child(-n+7).none, .december .week--tile:nth-child(n+1):nth-child(-n+7).none:hover {
  background: transparent;
}
.december .week--tile:nth-child(n+8):nth-child(-n+14) {
  background: #ff6c37;
}
.december .week--tile:nth-child(n+8):nth-child(-n+14):hover {
  background: coral;
}
.december .week--tile:nth-child(n+8):nth-child(-n+14).none, .december .week--tile:nth-child(n+8):nth-child(-n+14).none:hover {
  background: transparent;
}
.december .week--tile:nth-child(n+15):nth-child(-n+21) {
  background: #ff5a1d;
}
.december .week--tile:nth-child(n+15):nth-child(-n+21):hover {
  background: coral;
}
.december .week--tile:nth-child(n+15):nth-child(-n+21).none, .december .week--tile:nth-child(n+15):nth-child(-n+21).none:hover {
  background: transparent;
}
.december .week--tile:nth-child(n+22):nth-child(-n+28) {
  background: #ff4704;
}
.december .week--tile:nth-child(n+22):nth-child(-n+28):hover {
  background: coral;
}
.december .week--tile:nth-child(n+22):nth-child(-n+28).none, .december .week--tile:nth-child(n+22):nth-child(-n+28).none:hover {
  background: transparent;
}
.december .week--tile:nth-child(n+29):nth-child(-n+35) {
  background: #e93f00;
}
.december .week--tile:nth-child(n+29):nth-child(-n+35):hover {
  background: coral;
}
.december .week--tile:nth-child(n+29):nth-child(-n+35).none, .december .week--tile:nth-child(n+29):nth-child(-n+35).none:hover {
  background: transparent;
}
.december .week--tile:nth-child(n+36):nth-child(-n+42) {
  background: #d03800;
}
.december .week--tile:nth-child(n+36):nth-child(-n+42):hover {
  background: coral;
}
.december .week--tile:nth-child(n+36):nth-child(-n+42).none, .december .week--tile:nth-child(n+36):nth-child(-n+42).none:hover {
  background: transparent;
}

body {
  margin: 0;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.enter-dates {
  width: 1000px;
}

.month--name {
  font-size: 50px;
  font-weight: bold;
  text-align: right;
}

.month--header {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}
.month--header .month--header-day {
  font-weight: bold;
  width: 140px;
  text-align: center;
}

.month--grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 5px;
}

.week--tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 140px;
  border-radius: 3px;
  transition: 0.15s linear all;
  font-weight: 600;
  color: white;
  font-size: 75px;
}
.week--tile:hover {
  border-radius: 0;
}

/*# sourceMappingURL=application.css.map */
